@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --primary-color: #e15f41;
  --secundary-color: #ffffff;
  --black-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  font-weight: 600;
}

.section-title {
  margin: 1.8em 0 1.3em 0;
}

.navbar {
  background-color: var(--primary-color);
  border-radius: 13px;
}
.navbar .navbar-brand h1{
  color: var(--secundary-color);
  font-size: 1.1em;
}
.navbar .nav-link {
  color: var(--secundary-color);
  font-weight: medium;
  position: relative;
  transition: all .3s;
}
.navbar .nav-link:hover {
  color: var(--primary-color);
  background-color: var(--secundary-color) !important;
}
.navbar .nav-link > i {
  margin-right: 5px;
}
.navbar .active {
  background-color: transparent !important;
}
.navbar .active:hover::after{
  background-color: var(--primary-color);
}
.navbar .active::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--secundary-color);
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 5px;
  position: absolute;
  transition: background-color .3s;
}
.navbar .nav {
  gap: 5px;
}
.navbar .navbar-toggler {
  border: none;
  box-shadow: none;
}
.navbar .navbar-toggler-icon{
  width: 38px;
  height: 38px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28233, 233, 233, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#about .carousel img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
}
#about .carousel button {
  opacity: 1;
}
#about .carousel button > i {
  width: 40px;
  height: 40px;
  transition: background-image .3s;
}
#about .carousel .carousel-control-prev:hover .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e15f41'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
#about .carousel .carousel-control-next:hover .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e15f41'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#events h3 {
  font-size: 1.3em;
  color: var(--primary-color);
}

#menu nav {
  width: 100%;
  overflow: auto;
  flex-wrap: nowrap;
}
#menu nav::-webkit-scrollbar {
	height: 4px;
	background: transparent;
}
#menu nav::-webkit-scrollbar-track {
	background: transparent;
}
#menu nav::-webkit-scrollbar-thumb {
	background: #d0d0d0;
	border-radius: 10px;
}
#menu nav::-webkit-scrollbar-thumb:hover {
	background: #bebebe;
}
#menu nav button{
  color: var(--primary-color);
}
#menu nav button:hover:not(.active){
  color: #a53921;
}
#menu nav .active{
  color: var(--secundary-color);
  background-color: var(--primary-color);
}
#menu .cards {
  display: grid;
  grid-template-columns: 1fr;
}
#menu .card {
  border: none;
}
#menu button {
  text-wrap: nowrap;
}

/* low and medium size */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  #menu .cards {
    grid-template-columns: 1fr 1fr;
  }
}
/* large size */
@media only screen and (min-width: 992px) {
  #menu .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}