* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
    border: 1px solid black;
    border-radius: 3px;
}

button {
    background-color: #2ecc71;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}
#fullname-error{
    background-color: red;
    padding: 8px;
    margin: 10px 0;
    border-radius: 3px;
    color: white;
}
#success-msg{
    background-color: #2ecc71;
    padding: 8px;
    margin: 10px 0;
    border-radius: 3px;
    color: white;
}
.error{
    outline: none;
    border: none;
    box-shadow: 0 0 0 2px red;
}
.invisible{
    display: none;
}