// Main colors
$primaryColor: #000;
$secundaryColor: #fff;
$backgroundColor: #fdfdfd;

// Colorful
$greenColor: #44bd32;
$blueColor: #182C61;

// Viewport sizes
$tabletSize: 1023px;
$mobileSize: 767px;